{% extends 'base.html.twig' %}


{% block body %}
  <div class="content-block"> 
   <div class="text-right">
    <a href="{{ path('company_index') }}"><i class="fa fa-reply" aria-hidden="true"></i></a>         
  </div> 
  <h1>Create new company</h1><br>
  {{ form_start(form) }}
  {{ form_widget(form) }}
  <br>
  <div class="text-left">
 <button  type="submit" class="btn btn-secondary"><strong>Create&nbsp;&nbsp;</strong><i class="fa fa-plus" aria-hidden="true"></i></button>
  {{ form_end(form) }}
  </div>
  
  <br>
</div>
{% endblock %}
