{% extends 'base.html.twig' %}
{% block title %}Contact page{% endblock %}

{% block body %} 
	<div class="content-block"> 
		<!--<div>{{ text }}</div> -->

		
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="well well-sm">
                <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Name</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span>
                                </span>
                                <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" /></div>
                        </div>
 				<div class="form-group">
                            <label for="phone">
                                Phone number</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-phone"></span>
                                </span>
                                <input type="phone" class="form-control" id="phone" placeholder="Enter phone number" required="required" /></div>
                        </div>
                        <div class="form-group">
                            <label for="email">
                                Email адреса</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" /></div>
                        </div>
                   	 
				<div class="form-group">
                                    <label for="subject">
                                        Subject</label>
				<div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-question-sign"></span>
                                </span>
                                
                                    <select id="subject" name="subject" class="form-control" required="required">
                                        <option value="na" selected="">Choose One:</option>
                                        <option value="service">General Customer Service</option>
                                        <option value="suggestions">Suggestions</option>
                                        <option value="product">Product Support</option>
                                    </select>
				</div>
                                </div>
                            </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Message</label>
                            <textarea name="message" id="Message" class="form-control" rows="9" cols="25" required="required"
                                placeholder="Message"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">Send message</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <form>
            <legend>Contacts</legend>
            <address>
               
                Ukraine, Ivano-Frankivsk<br>
                street Sichovyh Striltssiv 23<br>
                <abbr title="Phone">
                    phone:</abbr>
                +3809745455
            </address>
            <address>
                <strong>Email</strong><br>
                <a href="#">@support.com</a>
            </address>
            </form>
        </div>
    </div>
</div>

	</div>
{% endblock %}
